<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>AgenceCode</title>
</head>
<body>



    <div id="navbarre">
        <h1><span style="color: lavender; text-decoration: underline;">AgenceCode</span> <span>.</span></h1>
        <nav>
            <ul>
                <li> <a href="#"> Accueil </a> </li>
                <li><a href="#millieu">Présentation </a> </li>
                <li><a href="#rejoindre">Rejoindre </a> </li>
            </ul>
        </nav>
    </div>


    
    <div id="millieu">

        <h3>AgenceCode est une team de développeurs de jeux video tel que : fortnite, rocket league, pokemon ect...</h3>
        <h3 style="color: black; float: right; margin-right: 80px;">La team est composée de 18 membres : Téo le designer, Didier et Paul les codeurs, Michel le rédacteur, Jean le créateur et David le designer web</h3>
    
    
    
    
        <!--PROJETS-->
    
    
    <div style=" margin-left: 10px;">
    
        <div style="text-align: center; margin-top: 150px; ">
            <div class="projets">Fortnite est un projet open source imaginé par patrick, l'un des membre de la team</div>
            <div class="projets">Pokemon est un projet open source imaginé par Jean, le createur de la team</div>
            <div style="background-color: #222; color: aliceblue;" class="projets">RoketLeague est un projet open source imaginé par David, l'un des membre de la team</div>
        </div>
    
        
            <div id="rejoindre">
                <h2>Comment nous rejoindre ?</h2>
                <h4>Pour nous rejoindre il suffit de polstuler en rejoignant notre serveur discord avec ce lien : dis.gd/threads avec didier qui danse comme un plouk est jean qui cherche la bagarre avec le créateur mais il va bientôt se faire virer si il continue comme ca.</h4>

                    <h2>Pourquoi nous rejoindre ?</h2>
                    <h4 style="margin-left: 1000px;">Rejoignez nous parceque nous sommes les meilleurs et nous codons toute la journée en mangeant des burgers.</h4>
            
            </div>



        
    
        </div>
    
        
      
    
        </div>


    

        <footer>
            <h2>AgenceCode 2021 - &copy; Tout droits reserves</h2>
    
            <h3> <a href="index.html"> <span style="color: green;"> > </span> Accueil </a></h3>
            <h3> <a href="presentation.html"> <span style="color: green;"> > </span> Présentation </a></h3>
            <h3> <a href="concours.html"> <span style="color: green;"> > </span>  Concours </a></h3>
            <h3><a href="cd.html"> <span style="color: green;"> > </span> Conditions d'utilisation </a></h3>
            <h3 style="position: relative; margin-left: 750px; margin-top: -76px;"><a target="_blank" href="https://discord.gg/cW5JQfrSkb"> <span style="color: green;"> > </span> Rejoindre</h3>
            <h3 style="position: relative; margin-left: 750px; margin-top: none;"><a href="../Admins/login.php"> <span style="color: green;"> > </span> Admins</h3></a>
    
        
        </footer>




    
</body>
</html>